.header{
  color: white;
  background: #087a43;
  padding: calc(1.6rem + .4vw) 0;
  
  &-container{
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  span{
    font-size: calc(1.6rem + .4vw);
    font-weight: 600;
  }
  
}